@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IList<Post>

<div class="mb-4">
    <h3 class="text-success mb-2">
        Các bài viết nổi bật
    </h3>

    <ul class="list-group">
        @foreach (var post in Model)
        {
            <li class="list-group-item">
                <a asp-controller="Blog"
               asp-action="Post"
               asp-route-slug=@post.UrlSlug
                   title="@post.Description">
                    @post.Title
                </a>
            </li>
        }
    </ul>
</div>
