
<!-- Form tìm kiếm-->
@*<h1>
    Tìm kiếm bài viết
</h1>*@

<partial name="_SearchForm"/>


<!-- Các chuyên mục/chủ đề -->
@*<h1>
    Các chủ đề
</h1>*@

@await Component.InvokeAsync("CategoriesWidget")

<!-- Top bài viết nổi bật -->
@*<h1>
    Bài viết nổi bật
</h1>*@

@await Component.InvokeAsync("FeaturedPostsWidget")

<!-- Chuyển đến bài viết bất kì -->
@*<h1>
    Bài viết bất kì
</h1>*@

@await Component.InvokeAsync("RandomPostsWidget")

<!-- Chuyển đến các thẻ -->
@*<h1>
    Thẻ bất kì
</h1>*@

@await Component.InvokeAsync("TagCloudWidget")

<!-- Đăng ký nhận tin mới -->
@*<h1>
    Đăng ký nhận tin mới
</h1>*@

<!-- Tag cloud -->
<h1>
    Tag cloud
</h1>

